body {
  background: #F0F9F8;
  color:#f56e9b; 
}
p {
  color: black;
}
h3{
  text-indent: 2em;
  text-decoration: underline;
  text-decoration-style: double
}
.head{
  display: flex;
  height:200px;
  padding: 20px;

}
hr{
  border-color: #82BFB7;
}
#headwrd{
  margin-left: 20px;
}
.nav {
  height: 50px;
  margin: 20px;
  text-align: center;
  justify-content: space-between;
}

a.top{
  width: 300px;
  border: 2px solid #82BFB7;
  font-size: 40px;
  color:#f56e9b;
  text-decoration: none;
  margin: 20px;
}
a.top:hover{
  color: #8ad1ca;
  background-color: #bef9f9;
  border-style: dotted;
}