body {
  background: white;
}
p {
  color: black;
}
h1 {
  font-weight: bold;
  float:right;
  padding-top: 50px;

  }
h2{
  float: right;
}
header{
  width:400px; 
  height:200px;
  padding-left: 30px;
  padding-top: 30px;
  
}
nav{
  height: 50px;
  align-content: center;
  padding-left: 20px;
  margin: 20px;
  border: 2px solid blue
}